:root {
    --black: rgb(0, 0, 0);
    --white: #fff;
    --red: rgb(255, 0, 0);
    --blue: rgb(115, 115, 237);
    --lightblue: rgb(197, 196, 230);
    --grey: rgb(221, 215, 215);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

a {
    cursor: pointer;
}

hr {
    background: var(--black);
}


/* navigation panel */

nav img.nav-logo {
    width: 120px;
    height: 50px;
}


/* the collapsible contents of the navbar */

.navbar-collapsible-contents {
    justify-content: center;
}

nav form {
    display: inline-block;
    padding: 17px 5px 0 5px;
    width: 50vw !important;
}

.nav-button {
    background: var(--white);
    color: var(--black) !important;
    border: 2px solid var(--white);
}

.nav-button:hover {
    opacity: .8;
    transition: 300ms ease-in;
}

nav .cart {
    color: var(--white);
    font-size: 1.5rem;
}

.nav-item .nav-link {
    color: var(--white) !important;
}

.nav-item .nav-link:hover {
    opacity: .7;
    transition: 300ms ease-in;
}

.nav-item .dashboard-btn {
    background: var(--white);
    color: var(--black) !important;
    margin-left: 25px;
}

.nav-item .dashboard-btn:hover {
    opacity: .8;
    box-shadow: 2px 2px 5px rgb(37, 33, 114);
    transition: 300ms ease-in;
}


/* navigation panel ends here */


/* dashboard starts here */

.dashboard-container {
    position: fixed;
    width: 350px;
    max-height: 85vh;
    overflow-y: auto;
    z-index: 100;
}

.list-group-item-action:hover {
    transition: all 300ms ease-in !important;
    background: var(--lightblue);
    border-radius: 5px;
    color: var(--red);
    font-weight: bold;
}


/* accordion */

.accordion-item {
    border-bottom: 0 !important;
}

.accordion-header {
    background: var(--black);
    padding-bottom: 10px;
}


/* accordion-heading-text refers to the heading of an accordion section */

.accordion-heading-text {
    color: var(--blue);
    background: var(--black);
    padding: 30px 0 0 20px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.accordion-button {
    background: var(--black);
    color: var(--white);
    font-weight: 500;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

.accordion-button:hover {
    opacity: .7;
    transition: 300ms ease-in;
}

.accordion-body {
    background: var(--black);
}

.accordion-list a {
    background: var(--black);
    color: var(--grey);
    font-size: 15px;
    padding-bottom: 25px;
}

.accordion-list-footer {
    padding: 5px;
}

.themes {
    background: var(--black);
    color: var(--white);
}

.dropdown-menu-footer {
    background: var(--black) !important;
}


/* dashboard ends here */


/* main content starts here */

main.main-content {
    margin-top: 100px;
}


/* search bar  */

.search-field {
    width: 80%;
    justify-content: center;
}


/* the search script ends here */


/* main content ends here */


/* screens below laptop size */

@media (max-width: 1200px) {
    /* navbar section */
    nav form {
        display: inline-block;
        width: 90vw !important;
    }
    .nav-item .dashboard-btn {
        background: var(--white);
        color: var(--black) !important;
        margin-left: 0;
        margin-top: 5px;
        width: 150px;
        text-align: left;
        padding-left: 5px;
    }
}